<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <connectionStrings>
    <!-- Conexión original -->
    
    <add name="BrothersBarberClubConnection"
         connectionString="Data Source=PC-DEVICE;Initial Catalog=brothers_barber_club_db;Integrated Security=True"
         providerName="System.Data.SqlClient" />
    
    
   
    
    <!-- Conexión local -->

    <!--
    <add name="BrothersBarberClubConnection"
         connectionString="Data Source=localhost;Initial Catalog=brothers_barber_club_db;Integrated Security=True;TrustServerCertificate=True"
         providerName="System.Data.SqlClient" />-->
         
  </connectionStrings>
</configuration>
